nav{
        
        }

.wrap{
    height:70px;
    background-color: darkolivegreen;
    
    margin:0 auto;
    width: 1000px;
}
.imag{
    background-image:url("git_images/black_car.jpg");
    width:100%;
    height: 800px;
}

.txt{
    position:absolute;
    left:10px;
}
.cont{
position:relative;
width:1200px;
color:white;
}
li{
    display:inline;
    font-size:20px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
    background-color:black;
    opacity:40%;
    border-radius: 15%;
}


.cont::after{
    content: '';
    height:3px;
    width: 0;
    background:#009688;
    position:absolute;
    left:0;
    bottom:-65px;
    transition:0.5s;
}
.cont:hover::after{
    width:83.3%;
}

.para{
    background-color: white;
    height:700px;
}

table,td,th{
    position:relative;
    margin:25%;
    border-radius: 20%;
    text-align: center;
    border:2px solid black;
    border-radius:2px ;
    font-size: 20px;
}
